:root {
    --primary-color: #FF6347; /* Tomato Red */
    --secondary-color: #FFF8E1; /* Light Yellow (Secondary - for backgrounds) */
    --accent-color: #FFD700; /* Gold (Accent - for buttons, highlights) */
    --text-color: #333333; /* Dark Gray (Text) */
    --text-light-color: #FFFFFF; /* White (for text over dark backgrounds) */
     --heading-font: 'Montserrat', sans-serif;
     --body-font: 'Open Sans', sans-serif;
    --border-radius: 8px; /* Consistent border radius */
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

body {
    font-family: var(--body-font);
    color: var(--text-color);
    padding-bottom: 100px;
    background-color: var(--secondary-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}
